.Left {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 35px;
  .iContainer {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    span {
      color: rgba(255, 255, 255, 0.3098039216) !important;
    }
  }
  .links {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    P {
      text-align: start !important;
      font-size: 22px !important;
    }
    gap: 23px;
  }
  @media screen and (max-width: 767px) {
    gap: 18px;
    .iContainer {
      gap: 10px;
      .arrow2 {
        font-size: 18px !important;
        padding-top: 5px;
      }
    }
  }
}
