.infoDev {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
  justify-content: start;
  height: auto;
  .pForInfo {
    color: #ffffff4f !important;
    font-size: 17px !important;
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .pForInfo {
      font-size: 15px !important;
    }
  }
  @media screen and (max-width: 767px) {
    .pForInfo {
      font-size: 14px !important;
      line-height: 21px !important;
    }
  }
  @media screen and (min-width: 993px) and (max-width: 1439px) {
    .pForInfo {
      font-size: 13px !important;
      line-height: 25px !important;
    }
  }
}
