.Contact {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  align-items: center;
  padding: 5vh 5%;
  @media screen and (min-width: 993px) and (max-width: 1439px) {
      justify-content: center ;
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    gap: 27px;
    h3{
      font-size: 28px;
      font-weight: 600;
      text-align: start;
    }
  }
  @media screen and (max-width: 767px) {
    gap: 25px;
  }
}
