.icon {
  background-color: #2b2a2a;
  border-radius: 50% 50% 50% 50%;
  color: white;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  transition: ease all 800ms;
  text-decoration: none;
  p {
    display: none !important;
  }
}

.icon:hover {
  p {
    display: block !important;
  }
  display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: #ffb400 !important;
  width: auto;
  padding: 10px 15px;
  border-radius: 70px 70px;
  gap: 10px;
  .iconContainer {
    background-color: #ffb400;
    color: white;
  }
}
a.active {
  color: white;
  background-color: #ffb400;
}
