.aboutMe {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  padding: 5vh 5%;
  gap: 50px;
  .sec1 {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: center;
    @media screen and (min-width: 993px) and (max-width: 1439px) {
      justify-content: space-between;
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
      gap: 35px;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 5vh 2%;
    gap: 22px;
  }
}

.boxLoader {
  height: 90vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

