.Portfolio {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  padding: 5vh 5%;
  a {
    text-decoration: none;
    transition: ease all 400ms;
    color: #ffb400;
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    gap: 26px;
  }
  @media screen and (max-width: 767px){
    gap: 25px;
  }
}
a:hover {
  color: white;
}
